@import "../../style.scss";

.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $lightGreen;

    h1 {
      font-size: 20px;
      color: teal;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 50px;
      background-color: white;
      width: 200px;

      input {
        padding: 10px;
        border: none;
        border-bottom: 1px solid grey;
      }

      button {
        padding: 10px;
        border: none;
        background-color: teal;
        color: white;
        cursor: pointer;
      }

      p {
        font-size: 12px;
        color: red;
        text-align: center;
      }
      span {
        font-size: 12px;
        text-align: center;
      }
    }
  }